.content_white {
    text-align: center;
    position: relative;
    top: 0px;
    
  }
  .featured_content {
    background: #f6f6f6;
    width: 100%;
    padding: 30px 0;
    position: relative;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #14fee3;
    /* background: #52C2AD; */
    /* border: 1px solid #3AA994 !important; */
  }
  
  
  header ul.nav li a {
    font-size: 14px;
    border: none;
    font-weight: 200;
    text-transform: uppercase;
    position: relative;
    right: 0px;
    top: 5px;
}
  
  .productimage {
    padding: 20px;
    border: 1px solid #14fee3;
    box-shadow: 2px 0px 10px #808080c4;
    width: 350px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .productimage img {
    width: 280px;
    height: 280px;
  }
  header ul.nav li {
    border: none;
    margin: 20px -10px 0px 0px;
  }
  
  .logo {
    width: 160px;
    position: absolute;
    top: -30px;

  }
  .heading {
    font-size: 30px;
  }
  .paradetails {
    margin: -25px 0 -10px;
    text-align: center;
    padding: 20px;
    color: #000;
    font-weight: bold;
  }
  header .navbar {
    min-height: 98px;
    padding: 30px 0px 0px 0px;
    background-color: #355e1c;
}
  header .navbar-collapse ul.navbar-nav {
    float: right;
    margin-right: 0px;
    position: relative;
    top: 55px;
  }
  .logotext {
    width: 270px;
    position: relative;
    left: 160px;
  }
  .headbanner {
    position: absolute;
    top: 61px;
    left: 20%;
    font-size: 30px;
    color: #fff;
    letter-spacing: 1.8px;
}
  .menubar {
    position: absolute;
    right: 0px;
  }
  .boxeffect {
    box-shadow: 0px 0px 28px 2px #0f4522;
    width: 160px;
    height: 150px;
  }
  .headimage {
   height: 158px;

}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #e7e7e7;
  float: right;
}
  .navbar .nav > li > a {
    color: #fff;
    text-shadow: none;
  }
  .hero {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 230px;
    
  }
  
    .hero:before {
      content: "";
      background-image:  url("../images/cmp-info-bg-image.png");
      background-size: contain;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
    }
   
  
  h2 {
    position: relative;
    color: #000;
    font-size: 14rem;
    line-height: 0.9;
    text-align: center;
  }
  .translogo
  {
    width: 160px;
    position: absolute;
    top: -22px;
    right:0px;
  }
  .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #18eccc;
    background-color: transparent;
}
  
  @media only screen and (max-width: 600px) {
    
    .logo {
      width: 91px;
      position: absolute;
      top: -40px;
      left: -5px;
      height: 100px;
  }
    .content_white {
        text-align: center;
        position: relative;
        top: 0px;
    }
    .translogo {
      width: 100px;
      position: absolute;
      top: -16px;
      right: 20px;
  }
    .hero {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 350px;
    }
    .headbanner {
        position: absolute;
        top: 0px;
        left: 33%;
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
      background-color: #14fee3;
    }
    .whitebox {
      background-image: url(../images/cmp-info-bg-image.jpg);
      opacity: 1;
      position: relative;
      top: 70px;
    }
    .headbanner {
      position: absolute;
      top: -16px;
      left: 32%;
      font-size: 15px;
      color: #fff;
      letter-spacing: 1.8px;
      text-align: center;
  }
  .navbar-default .navbar-toggle {
    border-color: #000;
    position: relative;
    top: 74px;
    left: 220px;
    z-index: 99999;
}
    .navbar-nav {
      border-top: none;
      float: none;
      width: 100%;
      text-align: right;
    }
    header .navbar-nav > li {
      padding: 0px;
    }
    .navbar-default .navbar-nav > li > a {
      color: #777;
      font-size: 14px;
    }
    #productList {
      position: relative;
      text-align: center;
    }
    .productimage {
      padding: 20px;
      border: 1px solid #14fee3;
      box-shadow: 2px 0px 10px #808080c4;
      margin-top: 20px;
      margin-left: 0px;
      width: 100%;
    }
    .heading {
      font-size: 24px;
    }
    #sub-footer ul.social-network {
      float: left;
      position: relative;
      left: -13%;
    }
    header ul.nav li {
      border: none;
      margin: -3px -3px 0px 0px;
  }
        header .navbar-collapse ul.navbar-nav {
          float: right;
          margin-right: 0px;
          position: relative;
          top: 134px;
          left: -12px;
          background-color: #fffffff2;
          z-index: 9999;
          height: 247px;
          width: 360px;
      }
      .headimage {
        height: 170px;
    }
        }

  